<div class="container-fluid">
    <div class="row">
        {{#each singles}}
            {{#if online}}
                <div class="col-sm-3">
                    <img src="{{image}}" class="img-fluid" width="64px">
                    <br>
                    <h4 class="singles-icons">
                        <a href="/userProfile/{{_id}}">
                            <button class="btn btn-outline-primary"><i class="fa fa-address-book"></i></button>
                        </a>
                        <a href="/startChat/{{_id}}">
                            <button class="btn btn-outline-info"><i class="fas fa-comments"></i></button>
                        </a>
                        <a href="/sendSmile/{{_id}}">
                            <button class="btn btn-outline-danger"><i class="far fa-smile"></i></button>
                        </a>
                        <a href="/sendFriendRequest/{{_id}}">
                            <button class="btn btn-outline-success"><i class="fas fa-user-plus"></i></button>
                        </a>
                        <h6><i class="fa fa-circle green"> ONLINE</i></h6>
                    </h4>
                </div>
            {{else}}
                <div class="col-sm-3">
                    <img src="{{image}}" class="img-fluid" width="64px">
                    <br>
                    <h4 class="singles-icons">
                        <a href="/userProfile/{{_id}}">
                            <button class="btn btn-outline-primary"><i class="fa fa-address-book"></i></button>
                        </a>
                        <a href="/startChat/{{_id}}">
                            <button class="btn btn-outline-info"><i class="fas fa-comments"></i></button>
                        </a>
                        <a href="/sendSmile/{{_id}}">
                            <button class="btn btn-outline-danger"><i class="far fa-smile"></i></button>
                        </a>
                        <a href="/sendFriendRequest/{{_id}}">
                            <button class="btn btn-outline-success"><i class="fas fa-user-plus"></i></button>
                        </a>
                        <h6><i class="fa fa-circle red"> OFFLINE</i></h6>
                    </h4>
                </div>
            {{/if}}
        {{else}}
            <p>No user found</p>
        {{/each}}
    </div>
</div>