<div class="row">
    <div class="col-sm-5">
        <div class="card" style="width: 18rem;">
            <img src="{{oneUser.image}}" class="card-img-top" width="64px">
            <div class="card-body">
                <a href="/startChat/{{oneUser._id}}" class="btn btn-primary">
                    <i class="fas fa-comments"></i>
                </a>

                {{#if smile}}
                    <a href="/deleteSmile/{{oneUser._id}}" class="btn btn-danger">
                        <i class="far fa-smile newsmile"></i>
                    </a>
                    <script>
                        $(document.ready(function () {
                            setInterval(function () {
                                $('.newsmile').attr('style', 'color:green');
                            }, 10);
                            setInterval(function () {
                                $('.newsmile').attr('style', 'color:blue');
                            }, 30);
                        }));
                    </script>
                {{else}}
                    <a href="/sendSmile/{{oneUser._id}}" class="btn btn-outline-danger">
                        <i class="far fa-smile"></i>
                    </a>
                {{/if}}

                <a href="/sendFriendRequest/{{oneUser._id}}">
                    <button class="btn btn-outline-success"><i class="fas fa-user-plus"></i></button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <h2 class="center">Profile</h2>
        <h5><i class="fa fa-user"></i> {{oneUser.fullname}}</h5>
        <h5><i class="fa fa-mars"></i> {{oneUser.gender}}</h5>
        <h5><i class="fa fa-id-card"></i> {{oneUser.about}}</h5>

        <br>
        {{#if oneUser.online}}
            <i class="fa fa-circle green"> ONLINE</i>
        {{else}}
            <i class="fa fa-circle red"> OFFLINE</i>
        {{/if}}
    </div>
</div>

<hr>
<h2 class="center">Friends</h2>
{{#each oneUser.friends}}
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{friend.image}}" class="card-img-top img-fluid" width="64px">
            <div class="card-body">
                <h5 class="card-title">{{friend.fullname}}</h5>
                <a href="/userProfile{{friend._id}}" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    </div>
{{/each}}

<hr>
<div class="container">
    <h2 class="center">Public Posts</h2>
    {{#each publicPosts}}
        <div class="media">
            <img src="{{postUser.image}}" class="mr-3" width="64px">
            <div class="media-body">
                <h5 class="mt-0">{{title}}</h5>
                <p>{{body}}</p>
                <img src="{{image}}" class="img-fluid">
                <br>
                <small>{{getLastMoment date 'hour'}}</small>
                <hr>

                {{#if allowComments}}
                    {{#each comments}}
                        <div class="media mt-3">
                            <a class="mr-3" href="/userProfile/{{commentUser._id}}">
                                <img src="{{commentUser.image}}" width="64px">
                            </a>
                            <div class="media-body">
                                <p>{{commentBody}}</p>
                                <small>{{getLastMoment date 'hour'}}</small>
                            </div>
                        </div>
                        <hr>
                    {{/each}}
                {{/if}}

                {{#each likes}}
                    <div class="media mt-3">
                        <a class="mr-3" href="/userProfile/{{likeUser._id}}">
                            <img src="{{likeUser.image}}" style="width: 64px">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0"><i class="far fa-thumbs-up"></i></h5>
                            <br>
                            <small>{{getLastMoment date 'hour'}}</small>
                        </div>
                    </div>
                {{/each}}

                <br>
                <h4>
                    <a href="/likePost/{{_id}}"><i class="far fa-thumbs-up post-icons"> Like</i></a>

                    {{#if allowComments}}
                        <a href="/fullpost/{{_id}}"><i class="fa fa-comments"> Comment</i></a>
                    {{else}}
                        <p class="red">Comment is not allowed</p>
                    {{/if}}
                </h4>
            </div>
        </div>
    {{/each}}
</div>